
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="jumbotron">
    <p>
        Bem vindo ao TiePlus! Nessa plataforma encontrará muitas oportunidades e será capaz te desenvolver e adaptar para o o Mercado de TI.
    </p>
</div>

