@{
    ViewBag.Title = "Escolas";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="page-header">
    <h1>Escolas</h1>
</div>
<div class="page-header">
    <div class="container" id="">
        <table class="table-responsive table table-striped custab">
            <thead>
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var empresa in Model)
            {
                    <tr>
                        <th></th>
                        <th>@empresa.Nome</th>
                        <th><a href="#">Entrar em contato</a></th>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-center">Escolas: @Model.Count()</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <a href="#" onclick="history.go(-1);" class="btn">Voltar</a>
</div>