
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User's Profile</h2>

<div class="container" id="Profile">
    <div class="col-lg-2 col-sm-2 text-center">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
        <h3>
            User Name
            <small>Student</small>
        </h3>
    </div>

    <div class="col-lg-5 col-sm-5 text-center">
        <h4>Carreira</h4>
        <div class="form-group">
            <label for="sel1">Select list:</label>
            <select class="form-control" id="sel1">
                <!--Pegar do banco de dados-->
                <option>Full Stack Developer</option>
                <option>Front-End Developer</option>
                <option>Back-End Developer</option>
                <option>Computer Support Specialist</option>
                <option>Database Administrator</option> 
                <option>Software Developers</option>
            </select>
        </div>
    </div>


</div>


