@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User's Profile</h2>

<div class="container" id="Profile">
    <div class="col-lg-2 col-sm-2 text-center">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
        <h3>
            User Name
            <small>Student</small>
        </h3>
    </div>

    


</div>


