@model ProjetoHackatonIncredibleHihgSpeedTeam.Models.EmpresaMOD
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar</h2>
@using (Html.BeginForm("Atualizar", "Empresa", FormMethod.Post))
{
    @Html.Hidden("Codigo", Model.ID)
    <div>
        @Html.TextBoxFor(x => x.Nome, Model.Nome.Trim())
    </div>
    <input type="submit" name="cadastrar" value="Cadastrar" />
}
