@model IEnumerable<ProjetoHackatonIncredibleHihgSpeedTeam.Models.EmpresaMOD>
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var empresa in Model)
        {
            <tr>
                <th>@empresa.ID</th>
                <th>@empresa.Nome</th>
                <th><a href="Deletar?Codigo=@empresa.ID" onclick="return confirm('Deseja realmente excluir?');">Deletar</a></th>
                <th><a href="Editar?Codigo=@empresa.ID">Editar</a></th>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">Empresas: @Model.Count()</td>
        </tr>
    </tfoot>
</table>

