@model ProjetoHackatonIncredibleHihgSpeedTeam.Models.AlunoMOD
@{
    ViewBag.Title = "Login";
}

<div class="login">
    <div class="login-screen well">
        <div class="app-title">
            <h1>Login</h1>
        </div>
        @using (Html.BeginForm("Logar", "Home", FormMethod.Post))
        {
            <div class="login-form">
                <div class="control-group">
                    @Html.TextBoxFor(x => x.Nome, new { @class = "login-field", @placeholder = "username" })
                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>

                <div class="control-group">
                    @Html.TextBoxFor(x => x.Pass, new { @class = "login-field", @placeholder = "password", @type = "password" })
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>

                <input type="submit" name="login" value="Login" class="btn btn-primary btn-large btn-block" />
                <a class="login-link" href="#">Lost your password?</a>
            </div>
        }
    </div>
</div>